<!DOCTYPE html>
<html lang="nl">
<%- include ('head.ejs') %>
<title>Profiel aanpassen - Bamboos</title>

<body>
  <%- include ('header.ejs') %>
  <h1>Profiel aanpassen</h1>
  <form action=/ method=post enctype=multipart/form-data> <label>
    Foto
    <input name=foto type=file accept=image/*> </label> <% if (data.foto) { %>
    <img alt src="/upload/<%= data.foto %>">
    <% } %>
    <label>Naam<input name=naam placeholder="<%= data.naam %>"></label>
    <label>
      leeftijd
      <input name=leeftijd placeholder="<%= data.leeftijd %>">
    </label>
    <label>
      <textarea name=bio rows=5 placeholder="<%= data.bio %>"></textarea>
    </label>
    <button>Aanpassen</button>
  </form>
</body>

</html>